/* dblog styles
-------------------------------------------------------------- */
tr.selected a,
#admin-dblog tbody a,
table.update a,
.update table.version a {
  color: #0D57A3;
  text-decoration: none;
}

tr.selected a:hover,
#admin-dblog tbody a:hover,
table.update a:hover,
.update table.version a:hover {
  text-decoration: underline;
}

tr.dblog-notice,
tr.dblog-system {
  background: #E4EEF8;
  color: #000;
}

tr.dblog-warning.even,
tr.dblog-warning.odd {
  background: #FFFFDD;
  color: #000;
}

tr.dblog-error.odd,
tr.dblog-error.even {
 background: #FBDBDB;
  color: #8A1F11;
}
