/* @Fonts
-------------------------------------------------------------- */
@font-face {
	font-family: 'TrebuchetMSRegular';
	src: url('../type/fonts/trebuchet_ms-webfont.eot');
	src: local('☺'), url('../type/fonts/trebuchet_ms-webfont.woff') format('woff'), url('../type/fonts/trebuchet_ms-webfont.ttf') format('truetype'), url('../type/fonts/trebuchet_ms-webfont.svg#webfontSFWDdzXF') format('svg');
	font-weight: normal;
	font-style: normal;
}

