/* main layout base styles */
.top-container {
  margin: 0 0 20px;
}

.container-row {
  background: #f1f1f1;
  border: 1px solid #ddd;
  clear: both;
  margin: 0 0 20px;
  overflow: hidden;
  padding: 20px;
}

.left,
.right {
  width: 440px;
}

.left {
  margin-right: 20px;
}

/* admin page */
#panels-dnd-main .container-row {
  overflow: visible;
}


#panels-dnd-main .left,
#panels-dnd-main .right {
  width: 240px;
}


